@{
    Layout = "~/Views/Shared/_LayoutRMA.cshtml";

}

<div>

    <p>&nbsp;</p>


    <p><a class="nav-link text-dark" asp-area="" asp-controller="RMA" asp-action="ViewRMAs"><strong>VIEW RMAS</strong></a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="RMA" asp-action="AddRMA"><strong>ADD RMA</strong></a></p>

</div>