@{
    ViewData["Title"] = "RMA Application";
}


    <div>

      

        <p><a class="nav-link text-dark" asp-area="" asp-controller="RMA" asp-action="Index"><strong>RMA APPLICATION</strong></a></p>
    


    </div>